*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    height: 200px;
    display: flexbox;
    color: white;
    background-color: #2C3E50;
    align-items: center;
    align-content: center;
}

body{
    background-color: #E0DFD5;
    font-family: Arial, sans-serif;
}
form {
    width: 1100px;
    height: 100px;
    margin-left: 230px;
    display: flex;
    align-items: center;
    align-content: center;
}
#TodoMessage{
    display: flex;
    align-items: center;
    align-content: center;
    width: 60%;
    height: 2.5rem;
    margin: 0;
    padding: 0;
    border-right: none;
}
#add{
    width: 200px;
    height: 2.5rem;
    background-color: #4CAF50;
    color: white;
    border-left: none;
    padding: 10px 20px;
    cursor: pointer; 
}
.todo p {
    margin: 0;
    flex: 1;
    padding: 0 10px;
}

.del{
    background-color: #df2a27;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
}
#todolist{
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;
}
.todo{
   width: 100%;
   height: 4rem;
   border: 2px solid black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 10px;
   padding-right: 10px;
}

div.todo:hover{
    background-color: #c8baba;
}
